<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.springbootshop.mapper.AdminMapper">

  <resultMap id="BaseResultMap" type="com.springboot.springbootshop.model.Admin">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>


  <sql id="Base_Column_List">
    aid, name, password
  </sql>

  <!--查询所有admin   BaseResultMap 返回以这个格式  Base_Column_List 表示查询这么多字段-->
  <select id="getAllAdmin"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin
  </select>


  <select id="selectByPrimaryKey" parameterType="com.springboot.springbootshop.model.AdminKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where aid = #{aid,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.springboot.springbootshop.model.AdminKey">
    delete from admin
    where aid = #{aid,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.springboot.springbootshop.model.Admin">
    insert into admin (aid, name, password
      )
    values (#{aid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.springboot.springbootshop.model.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.springbootshop.model.Admin">
    update admin
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.springbootshop.model.Admin">
    update admin
    set password = #{password,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
      and name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>